
h3[id]:before {
    display:block;
    content:"";
    height:90px;
    margin:-70px 0 0;
}

h2 {
    margin: 0;
    padding: 0 0 .5em;
}

h3 {
    padding-top: 20px;
}

h4, h5 {
    padding-top: 25px;
}
